.metadata
Trunk.iml
*.pyc
*.class
*.manifest
*.cache
trunk.sln
*.m4

# personalized nupic configuration file
.nupic_config

# IDE project files
nbproject/
*.vcproj
*.project
*.pydevproject
.idea

# Build files
build/
include/
bin/
lib/

conf/default/nupic-site.xml

# /
/.gdb_history

# nupic.core repo is located under $NUPIC/extensions/core/
extensions/core/

# nupic bindings swig libraries
nupic/bindings/*engine_internal.*
nupic/bindings/*algorithms.*
nupic/bindings/*iorange.*
nupic/bindings/*math.*

# Pip stuff
dist/
nupic.egg-info/
nupic/*cpp_region.*
temp/

